# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/
.venv/

# Environment variables
.env
*.env

# Dagster stuff
dagster_home/
.dagster/
.run-info/
.logs/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store